:root{
    --textColor: white;
    --headerColor: white;
    --backgroundColor: black;
    --borderColor: white;
    --font-family: 'Sawarabi Mincho', sans-serif;
}

body{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    background-image: url("/assets/webBKG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--font-family);
}

.jumbotron{
    background: url('/assets/banner.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--headerColor);
}

.jumboWords{
    width: 60%;
    height: 60%;/* 
    text-align: center;
    margin: auto; */
}

img{
    height: auto;
    width: auto;
}

.row{
    margin: auto;
    text-align: center;
}

.myBoarder{
    border-width: 5px;
    border-color: var(--borderColor);
    border-style: dashed;
    height: 300px;
}